ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
}


.main {
    background-color: #FFFFFF;
}

.main a:hover {
    color: #404BBF;
}

.main a:focus {
    text-decoration: underline;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


.logo-dark {
    color: #2E2F42;

}

.main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.main:hover {
    color: #404bbf
}

.main:focus {
    color: #404bbf
}

.contacts {
    font-style: normal;
}

.communication {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.communication:hover {
    color: #404bbf;
}

.communication:focus {
    color: #404bbf;
}

button {
    background: #4D5AE5;
    cursor: pointer;
}

button:hover {
    background: #404BBF;
}

.promo {
    background-color: #2e2f42;

}

.promo-text {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 107.143%;
}

.about {
    background-color: #FFF;
}

.team {
    background-color: #F4F4FD;
}

.portfolio {
    background-color: #FFF;
}

.aside {
    background-color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.aside p {
    color: #F4F4FD;
}

.dark-logo {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 116.667%;
    text-transform: uppercase;
}

.light-logo {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 116.667%;
    text-transform: uppercase;
}

